@media screen and (min-width: 450px) and (max-width: 1199px) {
    .landoltCEyeTestDisplayContainer {
        gap: 6vw;
        height: 16vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}