body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all .5s ease;
}

body[data-dark-mode="true"] {
    background-color: black;
}

body[data-dark-mode="false"] {
    background-color: white;
}